{% extends 'base.html.twig' %}

{% block title %}Hello RegistrationController!{% endblock %}

{% block body %}
<div class="uk-container">
    {% for message in app.flashes('danger') %}
    <div class="uk-alert-danger" uk-alert>
        <a class="uk-alert-close" uk-close></a>
        <p>{{ message }}</p>
    </div>
    {% endfor %}

    <div class="register">
    {{ form_start(register_form) }}
    {{ form_end(register_form) }}
    </div>
</div>
{% endblock %}
