{% extends 'base.html.twig' %}

{% block title %}Hello TempController!{% endblock %}

{% block body %}
    <script>
        // var chart_data = 5;

        var chart_data = {{ datapoint|json_encode|raw }};


    </script>

{#    {{ dump(datapoint) }}#}

    <div id="chartContainer" style="height: 370px; width: 100%;"></div>



{% endblock %}
