{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<div class="uk-container">

    <div class="example-wrapper">
        <h1>Hello Test liveaaa</h1>

        {% if is_granted('ROLE_ADMIN') %}
            <p>Masło</p>
        {% endif %}

        <p>Jeśli użytkownik zalogowany to pokazuj wszystkie dane</p><br>
        <p>Jeśli użytkownik nie zalogowany to pokazuj dane tylko z dzisiejszego dnia</p><br>
    </div>
</div>
{% endblock %}
