{% extends 'base.html.twig' %}

{% block body %}
    <div class="test">
    {% include  'side_nav/side_nav.html.twig'%}
        <div class="uk-width-5-6">
{#    {{ dump(app.user.email) }}#}
            <table class="user_table">
                <tr>
                    <th>email</th>
                    <th>imie</th>
                    <th>nazwisko</th>
                    <th>wydział</th>
                    <th>isActive</th>
                </tr>
            {% for data in userdata %}
                <tr>
                    <td>{{ data.email }}</td>
                    <td>{{ data.imie }}</td>
                    <td>{{ data.nazwisko }}</td>
                    <td>{{ data.wydzial }}</td>
                    {% if(data.is_active==1)  %}
                        <td class="active"><a class="uk-button" href="{{ path('change_status', {user_email: data.email, user_status: data.is_active}) }}">TAK</a></td>
                    {% else %}
                        <td class="inactive"><a class="uk-button" href="{{ path('change_status', {user_email: data.email, user_status: data.is_active}) }}">NIE</a></td>
                    {% endif %}
                </tr>


            {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}