.toolbar{
    text-align: center;
    margin: 0 auto;
}

.toolbar .uk-panel .logo{
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
}

.navbar{
    padding: 0 15px;
}

.register{
    margin-top: 25px;
}

.admin_nav .side_nav .side_menu{
    width: 100%;
    padding: 0;
}

.admin_nav .side_nav .side_menu a{
    color: white;
    font-weight: bold;
    background: grey;

}

.admin_nav .side_nav .side_menu a:hover{
    color: black;
    background: white;
    font-weight: bold;
    transition: 0.3s ease;
}

.user_table{
    padding: 0 25px;
    color: black;
}

.user_table .active{
    background: green;
    text-align: center;
}

.user_table .inactive{
    background: red;
    text-align: center;
}