<div class="admin_nav">
    <div class="uk-width-1-6 uk-float-left">
        <ul class="uk-nav uk-nav-default side_nav">
            <li class="uk-button side_menu"><a href="{{ path('admin_panel') }}">Main</a></li>
            <li class="uk-button side_menu"><a href="{{ path('users') }}">Users</a></li>
        </ul>
    </div>
</div>

