<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}WebHous!{% endblock %}</title>
        {% block stylesheets %}
{#            <link rel="stylesheet" href="assets/css/custom.css" type="text/css"/>#}
            <link rel="stylesheet" href="{{ asset('assets/css/custom.css') }}" type="text/css"/>
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.3/dist/css/uikit.min.css" />
        {% endblock %}

    </head>
    <body>
{#    <header>#}
            <div class="uk-container uk-container-center toolbar">
                <div class="uk-width-1-2">
                    <div class="uk-float-left">
                        <div class="uk-panel">
                            <a class="logo" href="/"><b>WebHouse</b></a>
                        </div>
                    </div>
                </div>
                <div class="uk-width-1-2">
                    <div class="uk-float-right">
                        <div class="uk-panel">test2_</div>
                    </div>
                </div>
            </div>
        {% block nav %}
            {% block navbar %}
                <nav class="uk-navbar-container navbar" uk-navbar>
                    <div class="uk-navbar-left">

                        <ul class="uk-navbar-nav left">
                            <li><a href="/">WebHouse</a></li>
                            <li><a href="{{ path('temp') }}">Temperatura</a></li>
                            <li><a href="{{ path('hum') }}">Wilgotność</a></li>
                            <li><a href="{{ path('pres') }}">Ciśnienie</a></li>
                        </ul>

                    </div>

                    <div class="uk-navbar-right">
                        <ul class="uk-navbar-nav right">
                            {% if app.user %}
                            {% if is_granted('ROLE_ADMIN') %}
                                <li><a href="{{ path('admin_panel') }}">Admin Panel</a></li>
                            {% elseif is_granted('ROLE_USER') %}
                                <li><a href="#">Panel {{ app.user.imie }} {{ app.user.nazwisko }}</a></li>
                            {% endif %}
                                <li><a href="{{ path('app_logout') }}">Logout</a></li>

                            {% else %}
                            <li><a href="{{ path('app_login') }}">Login</a></li>
                            <li><a href="{{ path('register') }}">Register</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </nav>
            {% endblock %}
        {% endblock %}

{#    </header>#}
{#    <header>#}
        <div class="uk-container alerts">
            {% for message in app.flashes('danger') %}
                <div class="uk-alert-danger" uk-alert>
                    <a class="uk-alert-close" uk-close></a>
                    <p>{{ message }}</p>
                </div>
            {% endfor %}
            {% for message in app.flashes('success') %}
                <div class="uk-alert-success" uk-alert>
                    <a class="uk-alert-close" uk-close></a>
                    <p>{{ message }}</p>
                </div>
            {% endfor %}
        </div>

        {% block body %}

        {% endblock %}
{#    </header>#}
        {% block javascripts %}
            <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.3/dist/js/uikit.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.3/dist/js/uikit-icons.min.js"></script>

            <script src="{{ asset('assets/js/chart.js') }}"></script>
            <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

        {% endblock %}
    </body>
</html>
